In [1]:
#!/usr/bin/env python

# make sure to install these packages before running:
#!pip install pandas
#!pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
data1 = client.get("uggs-hy5q", limit=13000)

# Convert to pandas DataFrame
df_death = pd.DataFrame.from_records(data1)

df_death.head(5)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,data_as_of,start_date,end_date,group,state,place_of_death,covid_19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid_19_deaths,influenza_deaths,pneumonia_influenza_or_covid,footnote,year,month
0,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,By Total,United States,Total - All Places of Death,788281,6417477,709399,407232,9482,1098556,NaN,NaN,NaN
1,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,By Total,United States,"Healthcare setting, inpatient",536120,2026827,538349,337114,6020,742970,NaN,NaN,NaN
2,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,By Total,United States,"Healthcare setting, outpatient or emergency room",26352,380416,20323,8764,411,38301,NaN,NaN,NaN
3,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,By Total,United States,"Healthcare setting, dead on arrival",744,17759,438,192,18,1008,NaN,NaN,NaN
4,2021-12-08T00:00:00.000,2020-01-01T00:00:00.000,2021-12-04T00:00:00.000,By Total,United States,Decedent's home,62369,2148058,48265,16819,1780,94727,NaN,NaN,NaN

In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
data2 = client.get("unsk-b7fc", limit=25000)

# Convert to pandas DataFrame
df_vac = pd.DataFrame.from_records(data2)

df_vac.head(5)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,date,mmwr_week,location,distributed,distributed_janssen,distributed_moderna,distributed_pfizer,distributed_unk_manuf,dist_per_100k,distributed_per_100k_12plus,...,administered_dose1_recip_5pluspop_pct,series_complete_5plus,series_complete_5pluspop_pct,administered_5plus,admin_per_100k_5plus,distributed_per_100k_5plus,series_complete_moderna_5plus,series_complete_pfizer_5plus,series_complete_janssen_5plus,series_complete_unk_manuf_5plus
0,2021-12-12T00:00:00.000,50,RI,2120975,86600,800980,1233395,0,200213,228679,...,90.3,792621,78.9,1840664,183180,211076,277519,457886,56912,304
1,2021-12-12T00:00:00.000,50,NE,3292220,143300,1180500,1968420,0,170193,203549,...,69.9,1134952,62.9,2719947,150813,182543,399309,650484,83740,1419
2,2021-12-12T00:00:00.000,50,MD,12713340,578800,4484140,7650400,0,210288,246245,...,83.4,4184094,73.6,9913915,174426,223679,1446216,2422933,311280,3665
3,2021-12-12T00:00:00.000,50,OK,6156500,310000,2533260,3313240,0,155586,185145,...,68.8,2078668,56.2,5085766,137400,166327,807834,1138144,132528,162
4,2021-12-12T00:00:00.000,50,KY,7298895,361100,2997100,3940695,0,163371,191765,...,65.4,2384907,56.9,5671357,135191,173988,934271,1248699,200420,1517

In [3]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'US']

states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming',
    'US': 'United States'
}

df_state = pd.DataFrame(list(states.items()), columns=['abbreviation', 'state'])

df_state.head(5)

  abbreviation       state
0           AK      Alaska
1           AL     Alabama
2           AR    Arkansas
3           AZ     Arizona
4           CA  California

In [4]:
#link to postgresql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

engine = create_engine('postgresql://postgres:123@localhost/uni_large') 

connection = engine.connect()

In [5]:
#load death data into postgresql
try:
    df_death.to_sql('death',engine,index=False,if_exists='append')
except Exception as e:
    print(e)

In [6]:
#load vaccination data into postgresql
try:
    df_vac.to_sql('vaccination',engine,index=False,if_exists='append')
except Exception as e:
    print(e)

In [7]:
#load abbreviation data into postgresql
try:
    df_state.to_sql('state_abbr',engine,index=False,if_exists='append')
except Exception as e:
    print(e)

In [8]:
#load abbreviation data into postgresql
try:
    df_state.to_sql('state_abbr',engine,index=False,if_exists='append')
except Exception as e:
    print(e)

In [9]:
#query data via postgresql
query1 = """
ALTER TABLE death ALTER total_deaths TYPE int USING total_deaths::int;

SELECT d.start_date, d.end_date, s.state, d.place_of_death, d.covid_19_deaths, d.total_deaths FROM death d
	JOIN state_abbr s
	ON d.state = s.state
	WHERE d.place_of_death = 'Total - All Places of Death'
	AND d.start_date = '2020-01-01T00:00:00.000'
	AND d.end_date = '2020-12-31T00:00:00.000'
	ORDER BY total_deaths DESC;
"""

In [9]:
#return query result：which state has the highest death in 2020?
results1 = connection.execute(query1).fetchall()

column_names1 = results1[0].keys()

for_research_question_1_df = pd.DataFrame(results1, columns = column_names1)

for_research_question_1_df

,start_date,end_date,state,place_of_death,covid_19_deaths,total_deaths
0,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,United States,Total - All Places of Death,385347,3388238
1,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,California,Total - All Places of Death,33524,320628
2,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Texas,Total - All Places of Death,33542,253701
3,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Florida,Total - All Places of Death,21828,243106
4,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Pennsylvania,Total - All Places of Death,18407,156610
5,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Ohio,Total - All Places of Death,15097,143944
6,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Illinois,Total - All Places of Death,16721,128733
7,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,New York,Total - All Places of Death,16130,119270
8,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Michigan,Total - All Places of Death,12288,115319
9,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,North Carolina,Total - All Places of Death,8777,109802
10,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Georgia,Total - All Places of Death,10454,103561
11,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,New Jersey,Total - All Places of Death,18143,95522
12,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Tennessee,Total - All Places of Death,7927,88401
13,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Virginia,Total - All Places of Death,6156,79510
14,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Indiana,Total - All Places of Death,9776,79145
15,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Arizona,Total - All Places of Death,9321,77089
16,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Missouri,Total - All Places of Death,8059,76268
17,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Massachusetts,Total - All Places of Death,10193,68864
18,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Alabama,Total - All Places of Death,6706,63362
19,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Washington,Total - All Places of Death,3703,63019
20,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Wisconsin,Total - All Places of Death,6286,62468
21,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,South Carolina,Total - All Places of Death,5703,60277
22,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Maryland,Total - All Places of Death,6731,59644
23,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Louisiana,Total - All Places of Death,7066,56829
24,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Kentucky,Total - All Places of Death,4619,55709
25,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Minnesota,Total - All Places of Death,5834,52186
26,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Colorado,Total - All Places of Death,5073,47595
27,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Oklahoma,Total - All Places of Death,5248,46426
28,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Oregon,Total - All Places of Death,1612,40238
29,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Mississippi,Total - All Places of Death,5093,38448
30,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Connecticut,Total - All Places of Death,6291,38107
31,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Arkansas,Total - All Places of Death,4027,37820
32,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Iowa,Total - All Places of Death,4769,35658
33,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Nevada,Total - All Places of Death,3527,31391
34,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Kansas,Total - All Places of Death,3508,31120
35,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,West Virginia,Total - All Places of Death,1560,25631
36,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,New Mexico,Total - All Places of Death,2881,23027
37,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Utah,Total - All Places of Death,1657,22212
38,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Nebraska,Total - All Places of Death,2253,19695
39,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Idaho,Total - All Places of Death,1541,16468
40,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Maine,Total - All Places of Death,465,15620
41,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,New Hampshire,Total - All Places of Death,826,13500
42,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Rhode Island,Total - All Places of Death,1918,12160
43,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Hawaii,Total - All Places of Death,365,12070
44,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Montana,Total - All Places of Death,1269,12008
45,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Delaware,Total - All Places of Death,1097,10990
46,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,South Dakota,Total - All Places of Death,1715,10126
47,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,North Dakota,Total - All Places of Death,1513,8839
48,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,District of Columbia,Total - All Places of Death,1004,7458
49,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Vermont,Total - All Places of Death,145,5983
50,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Wyoming,Total - All Places of Death,461,5527
51,2020-01-01T00:00:00.000,2020-12-31T00:00:00.000,Alaska,Total - All Places of Death,254,5008

In [11]:
#query data via postgresql
query_2 = """
SELECT d.place_of_death, d.covid_19_deaths, d.total_deaths FROM death d
	WHERE d.state = 'California'
	AND d.start_date = '2020-01-01T00:00:00.000'
	AND d.end_date = '2020-12-31T00:00:00.000'
	ORDER BY total_deaths DESC;
"""

In [12]:
results_2 = connection.execute(query_2).fetchall()

column_names_2 = results_2[0].keys()

for_research_question_2_df = pd.DataFrame(results_2, columns = column_names_2)

for_research_question_2_df

,place_of_death,covid_19_deaths,total_deaths
0,Place of death unknown,None,NaN
1,Place of death unknown,None,NaN
2,Total - All Places of Death,33524,320628.0
3,Total - All Places of Death,33535,320628.0
4,Decedent's home,2679,121613.0
5,Decedent's home,2682,121613.0
6,"Healthcare setting, inpatient",24076,102238.0
7,"Healthcare setting, inpatient",24072,102238.0
8,Nursing home/long term care facility,4318,42460.0
9,Nursing home/long term care facility,4316,42460.0
10,Other,951,30705.0
11,Other,949,30705.0
12,"Healthcare setting, outpatient or emergency room",1425,19241.0
13,"Healthcare setting, outpatient or emergency room",1425,19241.0
14,Hospice facility,74,4233.0
15,Hospice facility,74,4233.0
16,"Healthcare setting, dead on arrival",None,133.0
17,"Healthcare setting, dead on arrival",None,133.0

In [13]:
#query data via postgresql
query_3 = """
SELECT v.mmwr_week, s.state, v.distributed_janssen, v.distributed_moderna, v.distributed_pfizer FROM vaccination v
	JOIN state_abbr s
	ON v.location = s.abbreviation
	WHERE v.mmwr_week = '48'
	AND v.location = 'NY'
	ORDER BY date DESC
	LIMIT 1;
"""

In [14]:
#return query result：according to the mmwr 48 week publishment, how many janssen, moderna, and pfizer vaccines has been distributed in NY?
results_3 = connection.execute(query_3).fetchall()

column_names_3 = results_3[0].keys()

for_research_question_3_df = pd.DataFrame(results_3, columns = column_names_3)

for_research_question_3_df

,mmwr_week,state,distributed_janssen,distributed_moderna,distributed_pfizer
0,48,New York,1696300,13175600,21400185

In [16]:
# query data via postgresql
query_4 = """
    select v.mmwr_week, 
           v.date,
           v.location,
           v.Series_Complete_Janssen, 
           v.Series_Complete_Moderna,
           v.Series_Complete_Pfizer,
           v.Series_Complete_Unk_Manuf,
           v.Series_Complete_Yes
    from vaccination v
    where v.mmwr_week = '48'
    order by date desc
"""
## According to the mmwr 48 week publishment, this query find how many janssen, moderna, pfizer, unknow manufacture and total vaccines has been completed in the states of the US.

In [17]:
results_4 = connection.execute(query_4).fetchall()

column_names_4 = results_4[0].keys()

for_research_question_4_df = pd.DataFrame(results_4, columns = column_names_4)

for_research_question_4_df

,mmwr_week,date,location,series_complete_janssen,series_complete_moderna,series_complete_pfizer,series_complete_unk_manuf,series_complete_yes
0,48,2021-12-04T00:00:00.000,AZ,306818,1537409,2160118,5398,4009743
1,48,2021-12-04T00:00:00.000,VT,45238,169668,243251,263,458420
2,48,2021-12-04T00:00:00.000,US,15944470,72048245,110469706,129746,198592167
3,48,2021-12-04T00:00:00.000,SC,192572,982135,1488573,334,2663614
4,48,2021-12-04T00:00:00.000,AR,104531,627359,763271,908,1496069
...,...,...,...,...,...,...,...,...
891,48,2021-11-28T00:00:00.000,GA,290738,2030989,2916039,4019,5241785
892,48,2021-11-28T00:00:00.000,TN,216194,1236897,1910195,9497,3372783
893,48,2021-11-28T00:00:00.000,MN,311367,1245871,1950241,790,3508269
894,48,2021-11-28T00:00:00.000,MT,50244,224858,277320,360,552782
895,48,2021-11-28T00:00:00.000,PR,135627,905853,1319588,92,2361160

In [18]:
# query data via postgresql
query_5 = """
    select v.mmwr_week, 
           v.date,
           v.location,
           v.administered_janssen, 
           v.administered_moderna,
           v.administered_pfizer ,
           v.administered_unk_manuf,
           v.administered
    from vaccination v
    where v.mmwr_week = '48'
    order by date desc
"""
## According to the mmwr 48 week publishment, this query find how many janssen, moderna, pfizer, unknown manufacture, and total vaccines has been administered in the states of the US.

In [19]:
results_5 = connection.execute(query_5).fetchall()

column_names_5 = results_5[0].keys()

for_research_question_5_df = pd.DataFrame(results_5, columns = column_names_5)

for_research_question_5_df

,mmwr_week,date,location,administered_janssen,administered_moderna,administered_pfizer,administered_unk_manuf,administered
0,48,2021-12-04T00:00:00.000,AZ,326982,3902053,5497919,19085,9746039
1,48,2021-12-04T00:00:00.000,VT,49332,450485,637132,875,1137824
2,48,2021-12-04T00:00:00.000,US,16822204,178978980,272232377,483221,468516782
3,48,2021-12-04T00:00:00.000,SC,207013,2453353,3621423,2005,6283794
4,48,2021-12-04T00:00:00.000,AR,109453,1533601,1914912,3455,3561421
...,...,...,...,...,...,...,...,...
891,48,2021-11-28T00:00:00.000,GA,299103,4869508,7004514,12638,12185763
892,48,2021-11-28T00:00:00.000,TN,233038,3095485,4713209,39678,8081410
893,48,2021-11-28T00:00:00.000,MN,325276,2992954,4788576,2511,8109317
894,48,2021-11-28T00:00:00.000,MT,53654,557280,697515,1511,1309960
895,48,2021-11-28T00:00:00.000,PR,139971,2092489,3102625,504,5335589

In [24]:
# query data via postgresql
query_6 = """
    select v.mmwr_week, 
           v.date,
           v.location,
           v.Additional_Doses_Moderna, 
           v.Additional_Doses_Pfizer,
           v.Additional_Doses_Janssen,
           v.Additional_Doses_Unk_Manuf,
           v.Additional_Doses
    from vaccination v
    where v.mmwr_week = '48'
    order by v.date;
"""

## According to the mmwr 48 week publishment, this query find how many additional doses for janssen, moderna, pfizer, and unknown manufacture in the states of the US

In [25]:
results_6 = connection.execute(query_6).fetchall()

column_names_6 = results_6[0].keys()

for_research_question_6_df = pd.DataFrame(results_6, columns = column_names_6)

for_research_question_6_df

,mmwr_week,date,location,additional_doses_moderna,additional_doses_pfizer,additional_doses_janssen,additional_doses_unk_manuf,additional_doses
0,48,2021-11-28T00:00:00.000,CO,408117,505287,11937,106,925447
1,48,2021-11-28T00:00:00.000,RI,75161,96951,1778,7,173897
2,48,2021-11-28T00:00:00.000,AR,129351,153645,3074,387,286457
3,48,2021-11-28T00:00:00.000,GA,379393,447366,7837,302,834898
4,48,2021-11-28T00:00:00.000,OK,161499,210232,4100,16,375847
...,...,...,...,...,...,...,...,...
891,48,2021-12-04T00:00:00.000,WI,450567,643042,13516,34,1107159
892,48,2021-12-04T00:00:00.000,RI,94708,116919,2383,7,214017
893,48,2021-12-04T00:00:00.000,KS,169132,209863,5107,90,384192
894,48,2021-12-04T00:00:00.000,IH2,66082,74648,724,118,141572
895,48,2021-12-04T00:00:00.000,FM,1319,10,126,0,1455

In [26]:
# query data via postgresql
query_7 = """
select location,
	   round(avg(cast(covid_19_deaths as int)),2) as avg_covid_19_death,
	   round(avg(cast(total_deaths as int)),2) as avg_total_death,
	   round(avg(cast(series_complete_yes as int)),2) as avg_series_complete
from (select * 
	  from state_abbr s
	  join vaccination v on v.location = s.abbreviation
	  join death d on d.state = s.state) as t 
where mmwr_week = '48'
and place_of_death = 'Total - All Places of Death'
group by location;
"""
## With the constraint of No.48 mmwr_week and 'Total - All Places of Death', the query finds out the average death caused by covid-19, average total death, and average completed vaccine series on each state.

In [27]:
results_7 = connection.execute(query_7).fetchall()

column_names_7 = results_7[0].keys()

for_research_question_7_df = pd.DataFrame(results_7, columns = column_names_7)

for_research_question_7_df

   location avg_covid_19_death avg_total_death avg_series_complete
0        ND             255.25         1752.06           372498.29
1        US           88423.75       719611.64        197434227.14
2        NV             972.98         6882.57          1680814.43
3        OH            3445.56        30190.47          6213189.29
4        NY            3379.65        25105.02         13343098.00
5        HI             129.60         2689.10           865198.71
6        IN            1962.11        16817.52          3410664.14
7        WV             554.51         5170.64           801783.00
8        NE             431.06         4036.36          1112213.57
9        FL            6706.64        54289.02         13198602.43
10       ME             175.31         3458.83           973496.57
11       AR            1004.72         8263.30          1490404.43
12       CT            1006.92         7486.19          2570083.71
13       SD             285.80         2075.63           484338.71
14       WY             183.10         1230.71           264242.57
15       LA            1623.08        11928.40          2274396.57
16       MT             353.21         2601.11           555289.71
17       NJ            3014.83        19118.77          6034862.00
18       MI            2666.27        24167.83          5462067.14
19       UT             448.61         4805.49          1781752.43
20       SC            1573.13        12894.91          2650499.43
21       DE             251.82         2377.48           598993.00
22       CA            9724.06        69225.00         25012038.71
23       NH             199.18         2896.53           881824.29
24       OR             581.77         8882.43          2703846.71
25       TX            9238.73        55616.83         15890012.86
26       KY            1343.72        12245.40          2333499.57
27       NM             641.60         4957.27          1334617.57
28       MS            1202.72         8323.58          1399283.29
29       DC             187.90         1562.96           456087.86
30       MO            1790.67        16027.19          3132962.00
31       WI            1247.96        12945.51          3471382.29
32       NC            2517.84        21879.11          5695470.14
33       RI             360.60         2462.83           770692.29
34       OK            1434.20        10000.58          2043184.86
35       ID             457.48         3675.57           808975.57
36       GA            3184.32        22607.49          5263845.86
37       MN            1076.38        10825.58          3531473.71
38       PA            3885.45        32762.15          7495436.14
39       MD            1378.37        12440.04          4094356.00
40       AK             125.12         1126.88           397386.29
41       IL            2946.45        26405.38          7817180.00
42       TN            2292.23        19391.32          3387867.57
43       WA            1079.26        13923.57          4961689.00
44       MA            1772.46        14094.62          4915622.29
45       AL            1984.85        13830.23          2266403.71
46       IA             862.42         7290.11          1792477.86
47       VT              55.35         1334.65           455630.14
48       CO            1082.77        10128.45          3647827.86
49       VA            1659.31        17297.72          5555176.00
50       AZ            2305.08        16708.47          3987028.14
51       KS             774.61         6564.23          1594158.00

In [28]:
# query data via postgresql
query_8 = """
select location, 
	   round(avg(cast(Series_Complete_Janssen as int)),2) as avg_series_complete_janssen,
	   round(avg(cast(Series_Complete_Moderna as int)),2) as avg_series_complete_moderna,
	   round(avg(cast(Series_Complete_Pfizer as int)),2) as avg_series_complete_Pfizer,
	   round(avg(cast(Series_Complete_Unk_Manuf as int)),2) as avg_series_complete_unk_manuf,
	   round(avg(cast(Series_Complete_Yes as int)),2) as avg_series_complete,
	   round(avg(cast(influenza_deaths as int)),2) as avg_influenza_deaths
from (select * 
	  from state_abbr s
	  join vaccination v on v.location = s.abbreviation
	  join death d on d.state = s.state) as t
where mmwr_week = '48'
and place_of_death = 'Total - All Places of Death'
group by location;

"""

## With the constraint of No.48 mmwr_week and 'Total - All Places of Death', the query finds out the average vaccine series completed among different brands and average death caused by influenza.

In [29]:
results_8 = connection.execute(query_8).fetchall()

column_names_8 = results_8[0].keys()

for_research_question_8_df = pd.DataFrame(results_8, columns = column_names_8)

for_research_question_8_df

,location,avg_series_complete_janssen,avg_series_complete_moderna,avg_series_complete_pfizer,avg_series_complete_unk_manuf,avg_series_complete,avg_influenza_deaths
0,AK,35974.86,148602.86,212720.71,87.86,397386.29,0.89
1,AL,150801.00,963387.14,1151695.57,520.00,2266403.71,47.89
2,AR,104156.71,626204.00,759201.71,842.00,1490404.43,30.10
3,AZ,305155.29,1532406.43,2144139.43,5327.00,3987028.14,30.14
4,CA,1988618.00,8989412.14,14029636.14,4372.43,25012038.71,204.08
5,CO,289715.86,1361564.71,1994672.14,1875.14,3647827.86,22.27
6,CT,217303.86,906706.71,1445646.57,426.57,2570083.71,11.43
7,DC,36485.57,162730.00,256545.57,326.71,456087.86,1.17
8,DE,52930.71,217756.57,327760.43,545.29,598993.00,2.98
9,FL,1272277.86,4628796.43,7264400.14,33128.00,13198602.43,125.60
10,GA,292623.14,2036115.14,2930996.71,4110.86,5263845.86,60.95
11,HI,55130.86,276151.86,515772.29,18143.71,865198.71,3.28
12,IA,152753.29,686864.43,952605.43,254.71,1792477.86,20.07
13,ID,72607.71,310085.43,425643.29,639.14,808975.57,4.13
14,IL,588266.43,2699670.00,4521284.86,7958.71,7817180.00,38.85
15,IN,265547.14,1205866.86,1931555.00,7695.14,3410664.14,35.03
16,KS,114474.29,597037.14,882101.00,545.57,1594158.00,22.97
17,KY,197648.57,925757.71,1208613.29,1480.00,2333499.57,36.72
18,LA,164531.57,910928.86,1197943.71,992.43,2274396.57,25.65
19,MA,359576.00,1802921.14,2752970.29,154.86,4915622.29,39.91
20,MD,307941.57,1436769.71,2346040.14,3604.57,4094356.00,29.77
21,ME,124782.86,365534.86,482719.71,459.14,973496.57,4.88
22,MI,394552.86,2059146.29,3007398.71,969.29,5462067.14,57.20
23,MN,312719.29,1248742.29,1969187.29,824.86,3531473.71,26.67
24,MO,221573.29,1100810.29,1810047.14,531.29,3132962.00,47.63
25,MS,78008.57,552411.57,768218.29,644.86,1399283.29,27.16
26,MT,50660.29,225558.14,278703.29,368.00,555289.71,4.67
27,NC,440975.14,2046443.00,3207931.86,120.14,5695470.14,65.33
28,ND,33629.29,139236.86,199629.14,3.00,372498.29,4.22
29,NE,82880.00,397035.57,630913.14,1384.86,1112213.57,8.63
30,NH,76473.14,330953.57,474325.86,71.71,881824.29,4.83
31,NJ,477755.86,2184732.00,3372110.29,263.86,6034862.00,24.32
32,NM,101269.00,525958.57,705532.57,1857.43,1334617.57,8.37
33,NV,161667.57,573396.43,945702.29,48.14,1680814.43,9.30
34,NY,1162065.86,4696886.57,7480999.00,3146.57,13343098.00,73.83
35,OH,516787.00,2278238.57,3413371.86,4791.86,6213189.29,83.83
36,OK,130638.00,801078.14,1111316.43,152.29,2043184.86,59.00
37,OR,233686.57,962562.57,1505878.57,1719.00,2703846.71,16.48
38,PA,663882.71,2786597.29,4044374.71,581.43,7495436.14,72.64
39,RI,56319.14,275276.00,438811.71,285.43,770692.29,3.90
40,SC,191612.71,979209.71,1479348.14,328.86,2650499.43,57.13
41,SD,35316.86,186117.43,262879.86,24.57,484338.71,4.74
42,TN,217445.29,1241014.71,1919809.00,9598.57,3387867.57,93.65
43,TX,1237502.29,5755763.43,8896370.57,376.57,15890012.86,106.37
44,US,15867246.86,71865857.86,109572691.00,128431.43,197434227.14,1071.68
45,UT,155512.29,618229.86,1008001.29,9.00,1781752.43,8.92
46,VA,418448.29,1905452.86,3228453.29,2821.57,5555176.00,32.55
47,VT,45106.86,169294.57,240966.71,262.00,455630.14,1.80
48,WA,422987.29,1794312.29,2741661.57,2727.86,4961689.00,29.53
49,WI,284799.71,1279215.00,1906850.86,516.71,3471382.29,30.91
50,WV,48637.71,339815.86,413041.71,287.71,801783.00,8.60
51,WY,24385.00,110711.00,129044.71,101.86,264242.57,0.98

In [30]:
# query data via postgresql
query_9 = """
select location,
	   round(avg(cast(distributed_janssen as int)),2) as avg_distributed_janssen,
	   round(avg(cast(distributed_moderna as int)),2) as avg_distributed_moderna,
	   round(avg(cast(distributed_pfizer as int)),2) as avg_distributed_pfizer,
	   round(avg(cast(distributed_unk_manuf as int)),2) as avg_distributed_unk_manuf,
	   round(avg(cast(distributed as int)),2) as avg_distributed,
	   round(avg(cast(pneumonia_influenza_or_covid as int)),2) as avg_pneumonia_influenza_or_covid
from (select * 
	  from state_abbr s
	  join vaccination v on v.location = s.abbreviation
	  join death d on d.state = s.state) as t
where mmwr_week = '48'
and place_of_death = 'Total - All Places of Death'
group by location;

"""
## With the constraint of No.48 mmwr_week and 'Total - All Places of Death', the query tries to find out the relationship between vaccine distribution and covid or pneumonia distribution.

In [31]:
results_9 = connection.execute(query_9).fetchall()

column_names_9 = results_9[0].keys()

for_research_question_9_df = pd.DataFrame(results_9, columns = column_names_9)

for_research_question_9_df

,location,avg_distributed_janssen,avg_distributed_moderna,avg_distributed_pfizer,avg_distributed_unk_manuf,avg_distributed,avg_pneumonia_influenza_or_covid
0,AK,80928.57,496997.14,700646.43,0.00,1278572.14,136.13
1,AL,364914.29,3402885.71,4094178.57,0.00,7861978.57,2472.54
2,AR,233371.43,2040140.00,2593631.43,0.00,4867142.86,1435.81
3,AZ,554514.29,4637625.71,6606627.14,0.00,11798767.14,3081.79
4,CA,3334471.43,26117291.43,41473535.00,0.00,70925297.86,12448.92
5,CO,458142.86,3851668.57,5895087.86,0.00,10204899.29,1503.96
6,CT,313857.14,2650262.86,3889126.43,0.00,6853246.43,1325.49
7,DC,65757.14,541525.71,856655.00,0.00,1463937.86,265.81
8,DE,82757.14,730260.00,1054907.86,0.00,1867925.00,336.51
9,FL,2156671.43,14611517.14,21969097.86,0.00,38737286.43,9450.51
10,GA,755571.43,6960588.57,9738527.86,0.00,17454687.86,4000.69
11,HI,115828.57,1045514.29,1664810.00,0.00,2826152.86,253.70
12,IA,261500.00,2033514.29,3018449.29,0.00,5313463.57,1223.54
13,ID,142614.29,1081437.14,1538497.14,0.00,2762548.57,581.69
14,IL,1075771.43,7767688.57,12763637.86,0.00,21607097.86,4196.26
15,IN,536285.71,3679488.57,5953282.86,0.00,10169057.14,2808.17
16,KS,238014.29,1905202.86,2675673.57,0.00,4818890.71,1048.13
17,KY,347014.29,2953111.43,3783249.29,0.00,7083375.00,2111.60
18,LA,294242.86,2729502.86,3684207.14,0.00,6707952.86,2005.60
19,MA,565042.86,5159374.29,7706852.86,0.00,13431270.00,2459.00
20,MD,557842.86,4371840.00,7301752.86,0.00,12231435.71,2066.15
21,ME,143000.00,1069585.71,1460284.29,0.00,2672870.00,361.53
22,MI,842028.57,6608574.29,9116670.00,0.00,16567272.86,3671.77
23,MN,466457.14,3604071.43,5852698.57,0.00,9923227.14,1600.42
24,MO,387242.86,3563808.57,5394120.71,0.00,9345172.14,2508.58
25,MS,205085.71,1822034.29,2442703.57,0.00,4469823.57,1692.00
26,MT,98028.57,684340.00,869376.43,0.00,1651745.00,417.51
27,NC,845457.14,6777997.14,10181022.86,0.00,17804477.14,3514.13
28,ND,49014.29,450905.71,651327.14,0.00,1151247.14,355.75
29,NE,139157.14,1149388.57,1871848.57,0.00,3160394.29,633.68
30,NH,153085.71,984094.29,1522225.71,0.00,2659405.71,315.17
31,NJ,837314.29,6335205.71,9932327.86,0.00,17104847.86,3879.34
32,NM,172700.00,1429245.71,2030782.14,0.00,3632727.86,841.90
33,NV,236300.00,1697474.29,2853048.57,0.00,4786822.86,1313.88
34,NY,1666728.57,13073162.86,21113552.14,0.00,35853443.57,4827.91
35,OH,869042.86,7087128.57,10375619.29,0.00,18331790.71,4716.04
36,OK,300642.86,2504448.57,3232758.57,0.00,6037850.00,2019.85
37,OR,438100.00,3082331.43,4498022.14,0.00,8018453.57,894.23
38,PA,1368900.00,9322720.00,13176982.14,0.00,23868602.14,5235.45
39,RI,86057.14,780322.86,1185809.29,0.00,2052189.29,433.90
40,SC,411671.43,3444734.29,4516006.43,0.00,8372412.14,2162.38
41,SD,81342.86,612562.86,807163.57,0.00,1501069.29,397.83
42,TN,466357.14,3972817.14,5857618.57,0.00,10296792.86,3357.45
43,TX,2407557.14,18145065.71,28678017.86,0.00,49230640.71,11680.92
44,US,27819771.43,218243628.57,329947685.00,0.00,576011085.00,123232.36
45,UT,222885.71,1799951.43,2995900.00,0.00,5018737.14,627.96
46,VA,710514.29,5642211.43,9346225.00,0.00,15698950.71,2329.54
47,VT,67885.71,533554.29,708648.57,0.00,1310088.57,100.13
48,WA,690014.29,5193257.14,8188712.14,0.00,14071983.57,1642.02
49,WI,415314.29,3527448.57,5376805.00,0.00,9319567.86,1707.51
50,WV,148485.71,1325017.14,1922155.00,0.00,3395657.86,838.58
51,WY,43628.57,361905.71,411346.43,0.00,816880.71,198.34

In [32]:
query_10 = """
select location,
	   round(avg(cast(distributed as int)), 2) as avg_distributed,
	   round(avg(cast(administered as int)),2) as avg_administered,
	   round(avg(cast(Series_Complete_Yes as int)),2) as avg_series_complete,
	   round(avg(cast(Additional_Doses as int)),2) as avg_additional_doses
from (select * 
	  from state_abbr s
	  join vaccination v on v.location = s.abbreviation
	  join death d on d.state = s.state) as t
where mmwr_week = '48'
and place_of_death = 'Total - All Places of Death'
group by location;

"""
## With the constraint of No.48 mmwr_week and 'Total - All Places of Death', the query finds the average vaccine data in diferent state.

In [33]:
results_10 = connection.execute(query_10).fetchall()

column_names_10 = results_10[0].keys()

for_research_question_10_df = pd.DataFrame(results_10, columns = column_names_10)

for_research_question_10_df

,location,avg_distributed,avg_administered,avg_series_complete,avg_additional_doses
0,ND,1151247.14,900307.00,372498.29,100427.14
1,US,576011085.00,462290053.57,197434227.14,41871957.14
2,NV,4786822.86,3971633.43,1680814.43,314482.86
3,OH,18331790.71,14463794.86,6213189.29,1652854.57
4,NY,35853443.57,30028568.00,13343098.00,2055121.29
5,HI,2826152.86,2088745.86,865198.71,125007.86
6,IN,10169057.14,7794201.71,3410664.14,742051.43
7,WV,3395657.86,1878997.14,801783.00,61511.71
8,NE,3160394.29,2598548.86,1112213.57,297893.57
9,FL,38737286.43,31030222.14,13198602.43,2703400.71
10,ME,2672870.00,2240712.00,973496.57,276035.43
11,AR,4867142.86,3532770.71,1490404.43,317437.00
12,CT,6853246.43,6008737.86,2570083.71,617650.71
13,SD,1501069.29,1154360.14,484338.71,117057.86
14,WY,816880.71,635009.00,264242.57,70541.71
15,LA,6707952.86,5231370.00,2274396.57,454250.43
16,MT,1651745.00,1328945.57,555289.71,163908.86
17,NJ,17104847.86,13550086.00,6034862.00,1258062.57
18,MI,16567272.86,12776961.00,5462067.14,1549964.43
19,UT,5018737.14,4080929.00,1781752.43,326907.86
20,SC,8372412.14,6211555.14,2650499.43,562261.71
21,DE,1867925.00,1434821.00,598993.00,134336.14
22,CA,70925297.86,59787047.14,25012038.71,5221226.57
23,NH,2659405.71,2142113.29,881824.29,52226.14
24,OR,8018453.57,6221004.71,2703846.71,684116.29
25,TX,49230640.71,37364686.71,15890012.86,2915185.71
26,KY,7083375.00,5434432.86,2333499.57,582842.86
27,NM,3632727.86,3138845.71,1334617.57,364244.00
28,MS,4469823.57,3200906.57,1399283.29,251416.29
29,DC,1463937.86,1167764.57,456087.86,76406.29
30,MO,9345172.14,7433196.43,3132962.00,702353.00
31,WI,9319567.86,8225791.71,3471382.29,1028306.86
32,NC,17804477.14,13594416.43,5695470.14,772364.57
33,RI,2052189.29,1750749.57,770692.29,198074.14
34,OK,6037850.00,4898011.29,2043184.86,414243.00
35,ID,2762548.57,1889141.29,808975.57,221043.86
36,GA,17454687.86,12351877.57,5263845.86,933953.43
37,MN,9923227.14,8272999.57,3531473.71,1118090.29
38,PA,23868602.14,18363776.00,7495436.14,1094741.71
39,MD,12231435.71,9494228.29,4094356.00,1008787.00
40,AK,1278572.14,959433.14,397386.29,105673.14
41,IL,21607097.86,17925956.57,7817180.00,1921402.14
42,TN,10296792.86,8199353.14,3387867.57,809755.14
43,WA,14071983.57,11404649.86,4961689.00,1191403.14
44,MA,13431270.00,11643984.86,4915622.29,1141371.86
45,AL,7861978.57,5257719.71,2266403.71,428528.86
46,IA,5313463.57,4205442.29,1792477.86,546965.00
47,VT,1310088.57,1122800.71,455630.14,160343.71
48,CO,10204899.29,8636814.57,3647827.86,1015706.86
49,VA,15698950.71,13131269.57,5555176.00,1321555.29
50,AZ,11798767.14,9624566.71,3987028.14,795059.57
51,KS,4818890.71,3703658.43,1594158.00,358728.71